* {
  margin: 0;
  padding: 0;
}

body {
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.journal-form {
  background: green;
  border: 20px solid darkgreen;
  box-shadow: 0px 0px 400px darkgreen;
  width: 40%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly; 
  margin: 10px auto;
  border-radius: 50px;
  padding: 28px;
}

h1{
  text-align: center;
  padding-bottom: 20px;
  order:-1;
  text-decoration: underline;
  font-size:2.8em;
}

fieldset {
  border:0;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 0 20px 20px 20px;
}

.prompt {
  font-family: "prompt";
}

label p {
  margin-bottom: 10px;
  font-family: "prompt";
  font-size: 1.2em;
}

.fieldset-large {
  flex-basis: 100%;
  order:2;
}

#entry,
#concepts {
  width: 100%;
  border-radius: 4px;
  margin:auto;
  font-family:consolas;
  font-size:1.1em;
}

#submit {
  margin:auto;
  order:3;
}
