* {
  margin: 0;
  padding: 0;
}

body {
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.journal-form {
  background: blue;
  width: 30%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly; 
  /* margin: 10px auto; */
  border-radius: 10px;
  padding: 28px;
  box-shadow: 0px 0px 500px blue;
  position: fixed;
}

h1, h2, h3{
  text-align: center;
  padding-bottom: 20px;
  order:-1;
  text-decoration: underline;
}

fieldset {
  /* border:0; */
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 0 20px 20px 20px;
}

.prompt {
  font-family: "prompt";
}

label p {
  margin-bottom: 10px;
  font-family: "prompt";
  font-size: 1.2em;
}

.fieldset-large {
  flex-basis: 100%;
  order:2;
}

#entry,
#concepts {
  width: 100%;
  border-radius: 4px;
  margin:auto;
  padding:3px;
  font-family:Arial, Helvetica, sans-serif;
  font-size:1em;
  line-height:1.4em;
}

#submit {
  margin:auto;
  order:3;
}

i {
  font-size:.8em;
}

.entryLog {
  background: darkblue;
  width:60%;
  /* margin:80px auto; */
  padding: 30px;
  border-radius:10px;
  position:absolute;
  right:0;
}

.journalEntry {
  margin:60px 30px 60px 30px;
}

#filter-by-mood {
  order:4;
}